<h1 class="page-title">Dashboard</h1>
<div class="home-container home" ng-cloak layout-gt-sm="row" layout="column" ng-controller="homeAdminCtrl">
	<div flex class="left-column">
		<md-toolbar layout="row">
			<div class="md-toolbar-tools">
				<span>Events</span>
			</div>
		</md-toolbar>
		<md-content md-theme="altTheme">
			<section>
			  <md-subheader class="md-primary">Current events</md-subheader>
			  <md-list layout-padding>
			    <md-list-item class="md-3-line" ng-repeat="item in events" ng-click="null" ui-sref="oneEvent({eventId: item.id})">
					<md-icon md-svg-icon="event-available" class="md-avatar"></md-icon>
			        <div class="md-list-item-text">
			          <h3>{{item.name}}</h3>
			          <h4>{{item.date}}</h4>
			          <p>
			            {{item.organization_id.name}}
			          </p>
			        </div>
			    </md-list-item>
			  </md-list>
			</section>
		</md-content>
	</div> <!-- left column -->
</div>