.report{
  .margin{
    margin: 0 8px;
  }

  .legend{
    height: 15px;
    line-height: 15px;
    font-size: 18px;
    margin: 8px;
    span{
      height: 15px;
      width: 15px;
      border-radius: 50%;
      margin-right: 16px;
    }
  }
.chart-header{
  font-weight: bold;
  margin: 8px 0;
}
  //.chart-container{
  //  height: 250px;
  //  canvas{
  //    height: 200px!important;
  //    width: 100%;
  //  }
  //}

  md-table-container{
    margin-top: 32px;
  }

  .success{
    width: 80px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 4px 0;
  }
  .failed{
    background-color: red;
    color: white;
    width: 80px;
    text-align: center;
    padding: 4px 0;
    &-icon{
      padding: 0;
      md-icon{
        color: white;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .queued{
    background-color: yellow;
    color: #000000;
    width: 80px;
    text-align: center;
    padding: 4px 0;
  }
}