<div class="step-content-row">
<form name="tableForm"
  ng-submit="sendTableData('table')"
>
  <md-input-container class="md-block table-name-field">
    <label>Table name</label>
    <input
     name="table"
     required type="text"
     ng-model="tableTemplateStp.data.table"
     ng-pattern="/^([a-z])*$/"
     ng-disabled="steps.model.steps[0].check">
    <div ng-messages="tableForm.table.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="pattern">Table name must be a word without spaces and others symbols</div>
    </div>
  </md-input-container>

<div class="fields" ng-repeat="field in tableTemplateStp.data.fields">

<step-table-generator-field></step-table-generator-field>

</div><!-- fields -->

<md-button ng-hide="steps.model.steps[0].check" class="md-raised next-step-button"
 ng-disabled="tableForm.$invalid"
 type="submit">Generate</md-button>
 <md-button ng-hide="!steps.model.steps[0].check" class="md-raised next-step-button"
 ng-click="steps.model.step = 2;"
 type="submit">Next step</md-button>

<md-button ng-hide="steps.model.steps[0].check" class="md-fab md-mini md-primary next-step-button" ng-click="addNewField()">
  <md-icon md-svg-src="add" style="color: greenyellow;" ></md-icon>
  <md-tooltip>Add field</md-tooltip>
</md-button>
</form>
</div>