<div class="step-content-row">
  <md-input-container class="md-block">
    <label>Model Class</label>
    <input required type="text" ng-model="controllerTemplateStp.data.modelClass" ng-disabled="steps.model.steps[steps.model.step-1].check">
  </md-input-container>
  <md-input-container class="md-block">
    <label>Search Model Class</label>
    <input required type="text" ng-model="controllerTemplateStp.data.searchModelClass" ng-disabled="steps.model.steps[steps.model.step-1].check">
  </md-input-container>
  <md-input-container class="md-block">
    <label>Controller Class</label>
    <input required type="text" ng-model="controllerTemplateStp.data.controllerClass" ng-disabled="steps.model.steps[steps.model.step-1].check">
  </md-input-container>
  <md-input-container class="md-block">
    <label>Base Controller Class</label>
    <input required type="text" ng-model="controllerTemplateStp.data.baseControllerClass" ng-disabled="steps.model.steps[steps.model.step-1].check">
  </md-input-container>

<md-input-container class="field-params-select"> 
  <label>Code Template</label>
  <md-select required ng-model="controllerTemplateStp.data.template" ng-disabled="steps.model.steps[steps.model.step-1].check">
    <md-option ng-repeat="type in controllerTemplateStp.controllerTemplates" ng-value="type.name">
      {{type.name}}
    </md-option>
  </md-select>
</md-input-container>
<md-button style="position: fixed;bottom: 0px;right: 20px;" ng-hide="steps.model.steps[steps.model.step-1].check" class="md-raised next-step-button" ng-click="sendTableData('controller')">Done</md-button>

</div>