<div class="login"
     layout="row"
     layout-align="center center">
  <div class="login-box md-whiteframe-5dp">
  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Your email</label>
        <input ng-model="user.email">
        <md-icon ng-if="!loader" md-svg-src="done" ng-click="verifyEmail(user.email)"></md-icon>
        <md-progress-circular ng-if="loader" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
      </md-input-container>

      <md-input-container ng-if="emailVerified" flex-auto>
        <label>New password</label>
        <input name="userPassword"
               ng-model="user.newPassword"
               type="{{show? 'text': 'password'}}"
               maxlength="32"
               minlength="6"
               required>
        <div ng-messages="loginForm.userPassword.$error">
          <div ng-message="required">This is required</div>
          <div ng-message="minlength">Password min length 6</div>
        </div>
      </md-input-container>

        <md-input-container ng-if="emailVerified" flex-auto>
          <label>Repeat new password</label>
          <input name="userPassword"
                 ng-model="user.repeatNewPassword"
                 type="{{show? 'text': 'password'}}"
                 maxlength="32"
                 minlength="6"
                 required>
          <div ng-messages="loginForm.userPassword.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="minlength">Password min length 6</div>
          </div>
        </md-input-container>

    </div>
  </md-content>
  </div>
</div>