<div class="login"
     layout="row"
     layout-align="center center">
  <div class="login-box md-whiteframe-5dp">
      <form name="passwordRecovery"
          ng-submit="verifyEmail(user.email)"
          autocomplete="off">
        <md-button class="md-fab md-mini md-button md-primary" aria-label="Use Android" ng-click="$state.go('login');">
          <md-icon md-svg-src="back"></md-icon>
          <md-tooltip>Back to login page</md-tooltip>
        </md-button>
      <div ng-if="!hash.length" layout="row" layout-align="center center" class="header">
        Verify email
      </div>
      <div ng-if="hash.length" layout="row" layout-align="center center" class="header">
        Recovering
      </div>

  <md-content  layout-padding>

      <div ng-if="!hash.length">
        <md-input-container flex-auto class="md-block">
          <label>Email</label>
          <input name="email"
                 ng-model="user.email"
                 maxlength="50"
                 ng-pattern="/^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$/"
                 required>
          <div ng-messages="passwordRecovery.email.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="pattern">Invalid email</div>
          </div>
        </md-input-container>

      <md-button class="md-raised md-primary"
                 type="submit"
                 ng-disabled="passwordRecovery.$invalid"
                 class="md-block">
        Restore
      </md-button>
      </div>

<div ng-if="hash.length">
        <md-input-container  class="md-block" layout-align="start center">
          <label>New password</label>
          <input name="userPassword"
                 ng-model="user.userPassword"
                 type="{{show? 'text': 'password'}}"
                 maxlength="32"
                 minlength="6"
                 required
                 ng-change="compareStr()">
          <div ng-messages="passwordRecovery.userPassword.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="minlength">Password min length 6</div>
          </div>
        </md-input-container>

        <md-input-container  class="md-block" layout-align="start center">
          <label>Repeat new password</label>
          <input name="userPassword"
                 ng-model="user.userPasswordAgain"
                 type="{{show? 'text': 'password'}}"
                 maxlength="32"
                 minlength="6"
                 required
                 ng-change="compareStr()">
          <div ng-messages="loginFormpasswordRecovery.userPasswordAgain.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="minlength">Password min length 6</div>
          </div>
        </md-input-container>

      <md-button class="md-raised md-primary" 
                 ng-disabled="passwordRecovery.$invalid || disableButton"
                 ng-click="changePassword()">
        Change password
      </md-button>


</div>

  </md-content>
  </form>
  </div>
</div>