<div class="stepper" ng-controller="stepperCtrl">
  <md-card>
    <md-toolbar>
    <div class="md-toolbar-tools">
      <img ng-src="{{steps.model.image}}" class="md-icon-button" style="margin-right: 10px;height: 30px; width: 30px;">
      <h2>{{steps.model.name}}</h2>
    </div>
  </md-toolbar>
    <md-steppers md-selected="steps.model.step" md-stretch-steppers="always">
      <md-step ng-repeat="step in steps.model.steps" label="{{step.name}}" ng-disabled="steps.model.step === $index ? false : true">
        <md-content layout-padding>
          <step-table-generator ng-if="steps.model.step === 0"></step-table-generator>
          <step-model-generator ng-if="steps.model.step === 1"></step-model-generator>
          <step-controller-generator ng-if="steps.model.step === 2"></step-controller-generator>
          <div ng-if="steps.model.step === steps.model.steps.length - 1">
            <md-button class="md-fab md-mini md-primary roll-back-button" ng-click="" ng-if="steps.model.step !== 0">
              <md-icon md-svg-src="back" style="color: greenyellow;" ></md-icon>
              <md-tooltip>Roll back</md-tooltip>
            </md-button>
          </div>
        </md-content>
      </md-step>
    </md-steppers>
  </md-card>
</div>