<div class="stepper" ng-controller="stepperCtrl">
  <md-card>

  
    <md-toolbar class="sticky">
    <div class="md-toolbar-tools">
      <img ng-src="{{steps.model.image}}"
           class="md-icon-button event-avatar">
      <h2>{{steps.model.name}}</h2>
      <span flex></span>
        <md-button class="md-icon-button" 
                   aria-label="Rollback"
                   ng-disabled="!steps.model.steps[selected].check"
                   ng-click="rollBack()">
          <md-icon md-svg-icon="backup"></md-icon>
          <md-tooltip>Rollback current step</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" 
                   aria-label="Done"
                   ng-disabled="steps.model.steps[selected].check"
                   ng-click="sendTableData(selected)">
          <md-icon md-svg-icon="done"></md-icon>
          <md-tooltip>Generate</md-tooltip>
        </md-button>
      <div class="navigation-buttons">
        <md-button class="md-icon-button"
                   aria-label="Previous step"
                   ng-disabled="selected === 0"
                   ng-click="navigateStep(false)">
          <md-icon md-svg-icon="arrowLeft"></md-icon>
          <md-tooltip>Previous step</md-tooltip>
        </md-button>
        <md-button class="md-icon-button"
                   aria-label="Next step"
                   ng-disabled="selected === 2"
                   ng-click="navigateStep(true)">
          <md-icon md-svg-icon="arrowRight"></md-icon>
          <md-tooltip>Next step</md-tooltip>
        </md-button>
      </div>
    </div>
  </md-toolbar>

<div ng-init="selected = 0">
  <md-steppers md-selected="selected" md-stretch-steppers="always" md-dynamic-height>
    <md-step label="Model"
             md-complete="steps.model.steps[0].check">


<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////table generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->


      <div class="step-content-row" ng-controller="stepTableGenerator"> 

        <md-table-container>
          <table md-table
                 md-progress="promise">
            <thead md-head>
              <tr md-row>
                <th md-column><span>Field name</span></th>
                <th md-column><span>Field type</span></th>
                <th md-column><span>Field type params</span></th>
                <th md-column><span>Field type params</span></th>
                <th md-column><span>Not null</span></th>
                <th md-column><span>Unique</span></th>
                <th md-column><span>Unsigned</span></th>
                <th md-column><span>Comment</span></th>
                <th md-column><span>Default</span></th>
                <th md-column><span>Comment value</span></th>
                <th md-column><span>Default value</span></th>
                <th md-column><span>Actions</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="field in tableTemplateStp.data.fields">
                <td md-cell ng-click="editField($event)"
                    ng-class="{'md-placeholder': !field.name}">
                  {{field.name || 'Add field name'}}
                </td>
                <td md-cell>{{field.type.name.value}}</td>

                <td md-cell ng-click="editField($event, 'field.type.value[0]', $index)"
                    ng-class="{'md-placeholder': !field.type.value[0]}">
                  {{field.type.value[0] || 'Add field type'}}
                </td>
                <td md-cell>{{field.type.value[0]}}</td>

                <td md-cell ng-if="field.type.value[1]">{{field.type.value[1]}}</td>

                <td md-cell>
                  <md-switch ng-model="field.params.notNull.checked"
                             aria-label="Not null"/>
                </td>

                <td md-cell>
                  <md-switch ng-model="field.params.unique.checked"
                             aria-label="Unique"/>
                </td>

                <td md-cell>
                  <md-switch ng-model="field.params.unsigned.checked"
                             aria-label="Unsigned"/>
                </td>

                <td md-cell>
                  <md-switch ng-model="field.params.comment.checked"
                             aria-label="Comment"/>
                </td>

                <td md-cell>
                  <md-switch ng-model="field.params.defaultValue.checked"
                             aria-label="Default value"/>
                </td>

                <td md-cell>{{field.params.comment.value[0]}}</td>
                <td md-cell>{{field.params.defaultValue.value[0]}}</td>
                <td md-cell>{{field.params.defaultValue.value[0]}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////// end of table generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->

    </md-step>
    <md-step label="Step 2" 
             md-complete="steps.model.steps[1].check"
             ng-disabled="!steps.model.steps[0].check">

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////model generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->

      <md-content>
        <div class="step-model-generator">
          <md-input-container class="md-block">
            <label>Namespace</label>
            <input required type="text" ng-model="modelTemplateStp.data.ns" ng-disabled="steps.model.steps[1].check">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Base class</label>
            <input required type="text" ng-model="modelTemplateStp.data.baseClass" ng-disabled="steps.model.steps[1].check">
          </md-input-container>
          <md-input-container class="field-type-select">
            <label>Generate Relations</label>
            <md-select required ng-model="modelTemplateStp.data.generateRelations" ng-disabled="steps.model.steps[1].check" >
              <md-option aria-label="{{rel.name}}" ng-repeat="rel in modelTemplateStp.modelTemplateStp.modelRelations" ng-value="rel.value">
                {{rel.name}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-switch ng-model="modelTemplateStp.data.generateLabelsFromComments" aria-label="Switch 1" ng-disabled="steps.model.steps[1].check">
            Generate Labels from DB Comments
          </md-switch>
          <md-switch ng-model="modelTemplateStp.data.enableI18N" aria-label="Switch 2" ng-disabled="steps.model.steps[1].check">
            Enable I18N
          </md-switch>
          <md-input-container class="md-block" ng-if="modelTemplateStp.data.enableI18N">
            <label>Message Category</label>
            <input required type="text" ng-model="modelTemplateStp.data.messageCategory" ng-disabled="steps.model.steps[1].check">
          </md-input-container>
          <md-input-container class="field-type-select">
            <label>Code Template</label>
            <md-select required ng-model="modelTemplateStp.data.template" ng-disabled="steps.model.steps[1].check">
              <md-option ng-repeat="rel in modelTemplateStp.modelTemplates" ng-value="rel.name">
                {{rel.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-content>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////end of model generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->

    </md-step>
    <md-step label="Step 3"
             md-complete="steps.model.steps[2].check"
             ng-disabled="!steps.model.steps[1].check">

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////controller generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->

      <md-content>
        <div class="step-content-row">
          <md-input-container class="md-block">
            <label>Model Class</label>
            <input required type="text" ng-model="controllerTemplateStp.data.modelClass" ng-disabled="steps.model.steps[2].check">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Search Model Class</label>
            <input required type="text" ng-model="controllerTemplateStp.data.searchModelClass" ng-disabled="steps.model.steps[2].check">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Controller Class</label>
            <input required type="text" ng-model="controllerTemplateStp.data.controllerClass" ng-disabled="steps.model.steps[2].check">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Base Controller Class</label>
            <input required type="text" ng-model="controllerTemplateStp.data.baseControllerClass" ng-disabled="steps.model.steps[2].check">
          </md-input-container>

        <md-input-container class="field-params-select"> 
          <label>Code Template</label>
          <md-select required ng-model="controllerTemplateStp.data.template" ng-disabled="steps.model.steps[2].check">
            <md-option ng-repeat="type in controllerTemplateStp.controllerTemplates" ng-value="type.name">
              {{type.name}}
            </md-option>
          </md-select>
        </md-input-container>

        </div>
      </md-content>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////end of controller generator step -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->

    </md-step>
  </md-steppers>
</div>



  </md-card>
</div>