<div class="mailer container">
  <div class="md-whiteframe-3dp">
    <md-content ng-controller="formGenerator as main">
   <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-toolbar class="md-table-toolbar alternate tollbar-item-selected">
      <div class="md-toolbar-tools">
        <span>Form builder</span>
      <span flex></span>
        <md-button class="md-button" ng-click="main.toggleSidenav()">
          Components
        </md-button>
        <md-button class="md-button" ui-sref='roleStep'>
          Cancel
        </md-button>
        <md-button class="md-button" ng-click="main.done()">
          Done
        </md-button>
      </div>
    </md-toolbar>
    <div class="content" layout="row" layout-padding layout-margin layout-fill>
      <div flex="30" layout="column" class="builder">
        <h2>Form Builder</h2>
        <div layout="column">
        <form-item ng-repeat="item in main.form.items track by $index"
                   type="{{item.type}}"
                   item="item"
                   index="$index"
                   on-delete="main.delete(item, index)"
                   on-up="main.up(item, index)"
                   on-down="main.down(item, index)">

        </form-item>
      </div>
        <!--<form-items-container form="main.form"></form-items-container>-->
      </div>

      <div flex layout="column" class="view">
        <h2>Preview</h2>
        <form name="myFrom">
          <form-view form="main.form"></form-view>
        </form>
      </div>

      <div flex="20" layout="column" class="json">
        <h2>Json</h2>
        <pre>{{main.form | json}}</pre>
      </div>
    </div>

    <md-sidenav class="md-sidenav-right" md-component-id="right"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Components list</h1>
        <span flex></span>
        <md-button class="md-button" ng-click="main.toggleSidenav()">
          Close
        </md-button>
      </md-toolbar>

      <md-content>
      <md-list flex>
        <md-list-item ng-click="main.addItem('textarea')">
          <span>Text-Area</span>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="main.addItem('input')">
          <span>Text-Input</span>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="main.addItem('multipleChoices')">
          <span>Radio-Buttons</span>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="main.addItem('checkboxes')">
          <span>Checkbox</span>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="main.addItem('submit')">
          <span>Button</span>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      </md-content>

    </md-sidenav>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

    </md-content>
  </div>
</div>