.roll-back-button {
	position: fixed;
	bottom: 0px;
	right: 140px;
}
.generate-button {
	position: fixed;
	bottom: 0px;
	right: 80px;
}
.next-button {
	position: fixed;
	bottom: 0px;
	right: 20px;
}
.steps-creator {
	.next-step-button {
		float: right;
	}
	md-card {
		md-steppers {
			min-height: 450px!important;
		}
	}
	.table-name-field {
		width: 80%;
		margin: auto;
	}
	.step-model-generator {
		padding: 0 50px;
	}
	.fields {
		margin: 0px 100px 10px;
		border: 1px solid #ccc;
		-webkit-box-shadow: 4px 9px 18px -5px rgba(0,0,0,0.4);
		-moz-box-shadow: 4px 9px 18px -5px rgba(0,0,0,0.4);
		box-shadow: 4px 9px 18px -5px rgba(0,0,0,0.4);
		border-radius: 5px;
		.field-name-field {
			width: 80%;
			margin: 20px auto 0;
			display: block;
		}
		.field-type-select,
		.field-params-select {
			width: 49%;
		}
		.two-cols {
			width: 80%;
			margin: auto;
		}
		.field-type-container,
		.field-params-container {
			width: 49%;
		}
		.multiple-option .md-container {
			display: none;
		}
	}
	.success-header {
		font-weight: 100;
		color: #4b4b4b;
	}
	md-switch {
		display: inline-block;
	}
}