      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch style="max-width:800px;max-height:810px; ">
        <md-card-title>
          <md-card-title-text>
            <!-- <span class="md-headline">User information</span> -->
            <p ng-if="data.email"><b>Email: </b>{{data.email}}</p>
            <p ng-if="data.role.name"><b>Role: </b>{{data.role.name}}</p>
            <p ng-if="data.organization_id.name"><b>Company: </b>{{data.organization_id.name}}</p>
            <p ng-if="data.name && data.email && !coords"><b>Company name: </b>{{data.name}}</p>
            <p ng-if="data.name && !data.email && !coords"><b>Language name: </b>{{data.name}}</p>
            <p ng-if="data.name && coords"><b>Location: </b>{{data.name}}</p>
            <p ng-if="data.address"><b>Address: </b>{{data.address}}</p>
            <p ng-if="data.phone"><b>Phone: </b>{{data.phone}}</p>
            <p ng-if="data.code"><b>Code: </b>{{data.code}}</p>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" ng-if="data.image">
              <img ng-src="{{data.image}}" class="md-card-image">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-dialog-content style="width: 600px; height: 400px; ">
          <div layout="row" ng-if="coords" class="map">
              <ui-gmap-google-map flex-auto
                                  center='map.center'
                                  zoom='map.zoom'
                                  events="map.events">
                <ui-gmap-marker ng-if="coords"
                                click="mapClick()"
                                coords="coords"
                                idKey="0">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <md-button  ng-click="hide()">
            close
          </md-button>
        </md-dialog-actions>
      </md-card>