<md-dialog>
	<form name="quickSearch" ng-submit="answer(answerObject)" ng-cloak>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2 ng-click="showAns()">New field</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	    <md-dialog-content>
	    	<div class="md-dialog-content">
    		  <md-content layout-padding>
			    <div layout="row">
			      <md-input-container>
			        <label>Name</label>
			        <input required ng-model="answerObject.name">
			      </md-input-container>
			    </div>
			    <div layout="row">
			      <md-input-container>
			        <label>SQL</label>
			        <textarea name="sql" cols="30" rows="10" ng-model="answerObject.sql"></textarea>
			      </md-input-container>
			    </div>
			  </md-content>
	    	</div>
	    </md-dialog-content>
	    <md-dialog-actions layout="row">
	    	<md-button type="submit" >
				create
      		</md-button>
	    </md-dialog-actions>
	</form>
</md-dialog>