.event-table {
	.seccond-toolbar {
		padding-top: 10px;
		background: #fff;
	}
	.refresh-icon,
	.menu-icon,
	.search-icon {
		fill: #fff;
	}
	.search-submit-button {
		cursor: pointer;
	}
	.alternate {
		padding-top: 7px;
	}
	.tollbar-item-selected {
		background-color: rgb(56, 109, 104);
	}
	.tollbar-search {
		background-color: #fff;
	}
	.black-icons {
		fill: rgb(142, 140, 140);
	}
	.fixed-header {
		float: left;
		height: 56px;
		background: #fff;
		padding: 0!important;

		span {
			display: block;
			margin-top: 17px;
			margin-left: 27px;
		}
	}

	.table-title {
		padding-right: 10px;
		margin-right: 10px;
		border-right: 1px solid #ccc;
	}
	.quick-search-select {
		color: #fff;
	}
	.table-container-fixed {
		float: left;
	}
	.fixed-header-0 {
		left: 16px!important;
	}
	.fixed-column {
		position: absolute;
		padding: 21px;
		background: #fff;
		border-right: 1px solid #ccc;
	}
	.fixed-column-0 {
		left: 16px!important;
	}
	.table {
	}
	.add-button {
		float: right;
	}
	.event-table.md-table td.md-cell, .event-table.md-table th.md-column {
		text-align: center;
	}
	.event-table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
		padding: 0;
	}
	.event-table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
		padding: 0;
	}
	.cell-name {
		display: block;
		margin: auto;
	}
	.cell-input,
	.cell-name {
		width: 100px;
	}
	.cell-input {
		float: none;
		margin: auto;
		text-align: center;
	}
	.edit-field-icon {
		position: absolute;
		top: 10px;
		left: 10;
		right: -120px;
		height: 15px;
		fill: rgb(142, 140, 140);
		cursor: pointer;
	}
	.cell {
		position: relative;
	}
}
.fieldSettingsDialog {
	.field-settings-content-wraper {
		overflow-x: hidden;
	}
}