<div class="event-table container">
	<div class="md-whiteframe-3dp table-area">
		<md-toolbar class="md-table-toolbar md-default">
	      <div class="md-toolbar-tools"
	           layout="row"
	           layout-align="space-between center">
	        <span>Table</span>
	      </div>
	    </md-toolbar>
	    <md-table-container>
	      <table md-table>
	        <thead md-head md-on-reorder="onReorderEvent">
		        <tr md-row>

		          <th class="table-name"
		              md-column
		              md-order-by="name"
		              ng-if="!searchContainerName">
		            <md-icon md-svg-src="search"
		                     ng-click="$parent.searchContainerName = true"
		                     class="search"></md-icon>
		            <span>Name</span>
		          </th>
		          <th class="table-name"
		              md-column
		              ng-if="searchContainerName">
		            <md-input-container flex-auto md-no-float class="md-block">
		              <label>Name</label>
		              <input ng-model="searchEventName"
		                     ng-change="searchEvent('name', searchEventName)">
		              <md-icon md-svg-src="search"
		                       ng-click="$parent.searchContainerName = false"
		                       class="search"></md-icon>
		            </md-input-container>
		          </th>

		        </tr>
	        </thead>
	        <tbody md-body>
		        <tr md-row ng-repeat="item in events">
		          <td md-cell>MMMMMMM</td>
				</tr>
			</tbody>
	      </table>
	    </md-table-container>
	</div>
</div>