<div class="event-table container">
	<div class="md-whiteframe-3dp table-area">
		<md-toolbar class="md-table-toolbar md-default">
	      <div class="md-toolbar-tools"
	           layout="row"
	           layout-align="space-between center">
	        <span>Table</span>
	      </div>
	    </md-toolbar>
	    <md-table-container>
	      <table md-table>
	        <thead md-head md-on-reorder="onReorderEvent">
		        <tr md-row>
		        	<th class="table-logo fixed-cell"
              			md-column>
              			<span>Name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Sur name</span>
              		</th>		        	<th class="table-logo"
              			md-column>
              			<span>Another fucking name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Sur name</span>
              		</th>		        	<th class="table-logo"
              			md-column>
              			<span>Another fucking name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Sur name</span>
              		</th>		        	<th class="table-logo"
              			md-column>
              			<span>Another fucking name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Name</span>
              		</th>
		        	<th class="table-logo"
              			md-column>
              			<span>Sur name</span>
              		</th>		        	<th class="table-logo"
              			md-column>
              			<span>Another fucking name</span>
              		</th>
		        </tr>
	        </thead>
	        <tbody md-body>
		        <tr md-row ng-repeat="item in events">
		          <td md-cell class="fixed-cell">MMMMMMM</td>
		          <td md-cell>LLLLLLL</td>
		          <td md-cell>GGGGGGG</td>
		          <td md-cell>MMMMMMM</td>
		          <td md-cell>LLLLLLL</td>
		          <td md-cell>GGGGGGG</td>
		          <td md-cell>MMMMMMM</td>
		          <td md-cell>LLLLLLL</td>
		          <td md-cell>GGGGGGG</td>
		          <td md-cell>MMMMMMM</td>
		          <td md-cell>LLLLLLL</td>
		          <td md-cell>GGGGGGG</td>
				</tr>
			</tbody>
	      </table>
	    </md-table-container>
	</div>
</div>