<div class="event-table container">
	<div class="md-whiteframe-3dp table-area">
		<md-toolbar class="md-table-toolbar md-default">
	      <div class="md-toolbar-tools"
	           layout="row"
	           layout-align="space-between center">
	        <span>Table
	        <md-icon md-svg-src="settings" ng-if="attributeLabels && fieldSettings" style="cursor: pointer; width: 20px; margin-top: -5px;" ng-click="shewFieldSettings()"></md-icon>
	        </span>
	      <span flex></span>
	      <span>
	      	<md-icon md-svg-src="error" style="cursor: pointer; width: 20px; margin-top: -5px;" ui-sref='mailer'></md-icon>
	      </span>
	      <md-progress-circular ng-if="processing" class="md-hue-2" md-diameter="40px"></md-progress-circular>
	      <span ng-if="processing">Processing</span>
	      </div>
	    </md-toolbar>
	    <md-table-container class="table-container-fixed">
	      <table md-table class="event-table">
	        <thead md-head md-on-reorder="onReorderEvent">
		        <tr md-row>

		          <th class="table-name"
		              md-column
		              ng-repeat="label in attributeLabels | orderBy: 'order'"
		              ng-if="label.hide !== 1 && label.fix === 1">
		            <span>{{label.label}}</span>
		          </th>

		        </tr>
	        </thead>
	        <tbody md-body>
		        <tr md-row ng-repeat="cell in index.model | orderBy: order">
		          <td md-cell class="cell" ng-repeat="label in attributeLabels | orderBy: 'order'" ng-if="label.hide !== 1 && label.fix === 1">
		          	  <span class="cell-name" ng-dblclick="cell[label.label].edit = true;" ng-if="!cell[label.label].edit">{{cell[label.name]}}</span>
		          	  <input type="text" class="cell-input"
		          	  		 ng-if="cell[label.label].edit" 
		          	  		 ng-model="cell[label.name]"
		          	  		 ng-blur="storeInputChanges(cell, $index, label.label); cell[label.label].edit = false;">
		          	  <md-icon ng-if="cell[label.label].edit" class="edit-field-icon md-raised" md-svg-src="done" ng-click="toreInputChanges(cell, $index, label.label); cell[label.label].edit = false;"></md-icon>
		          </td>
				</tr>
			</tbody>
	      </table>
	    </md-table-container>

	    <md-table-container class="table-contaienr-not-fixed">
	      <table md-table class="event-table">
	        <thead md-head md-on-reorder="onReorderEvent">
		        <tr md-row>

		          <th class="table-name "
		              md-column
		              ng-repeat="label in attributeLabels | orderBy: 'order'"
		              ng-if="label.hide !== 1 && label.fix !== 1">
		            <span>{{label.label}}</span>
		          </th>
		          <th md-column>Delete</th>

		        </tr>
	        </thead>
	        <tbody md-body>
		        <tr md-row ng-repeat="cell in index.model | orderBy: order">
		          <td md-cell class="cell" ng-repeat="label in attributeLabels | orderBy: 'order'" ng-if="label.hide !== 1 && label.fix !== 1">
		          	  <span class="cell-name" ng-dblclick="cell[label.label].edit = true;" ng-if="!cell[label.label].edit">{{cell[label.name]}}</span>
		          	  <input type="text" class="cell-input"
		          	  		 ng-if="cell[label.label].edit" 
		          	  		 ng-model="cell[label.name]"
		          	  		 ng-blur="storeInputChanges(cell, $index, label.label); cell[label.label].edit = false;">
		          	  <md-icon ng-if="cell[label.label].edit" class="edit-field-icon md-raised" md-svg-src="done" ng-click="toreInputChanges(cell, $index, label.label); cell[label.label].edit = false;"></md-icon>
		          </td>
		          <td md-cell>
			        <md-button class="md-fab-sm" aria-label="New item" ng-click="deleteField(cell)">
			            <md-icon md-svg-src="delete"></md-icon>
			            <md-tooltip>Delete</md-tooltip>
			        </md-button>
		          </td>
				</tr>
			</tbody>
	      </table>
	    </md-table-container>
        <md-button class="md-fab-sm add-button" aria-label="New item" ng-click="showAddNewFieldModal()">
            <md-icon md-svg-src="add"></md-icon>
            <md-tooltip>Add new field</md-tooltip>
        </md-button>
	</div>
</div>