<div class="mailer container">
  <div class="md-whiteframe-3dp">
    <md-content>
    <mailer-toolbar></mailer-toolbar>
<div class="container">
<md-list style="margin-bottom: 80px;" ng-cloak>

  <md-subheader class="md-no-sticky">Lists</md-subheader>
   <md-list-item ng-repeat="index in Index.model">
    <h3>{{index.name}}</h3>
      <md-button aria-label="edit"
                 ng-click="showDialog($event, $index)"
                 class="md-icon-button md-secondary">
        <md-icon md-svg-icon="edit"></md-icon>
      </md-button>
      <md-button aria-label="delete"
                 ng-click="deleteItem(index)"
                 class="md-icon-button md-secondary" >
        <md-icon md-svg-icon="close"></md-icon>
      </md-button>
  </md-list-item>
</md-list>

    <md-button class="md-fab md-mini md-fab-bottom-right" aria-label="Nuevo">
        <md-icon md-svg-icon="add" ng-click="showDialog($event, 'create')"></md-icon>
    </md-button>
</div>

    </md-content>
  </div>
</div>